.about-company {
	padding-top: 63px;
	padding-bottom: 100px;

	font-family: $primary-font;
	font-size: 15px;

	&__wrap {
		display: flex;
		justify-content: space-between;
		box-shadow: 0 0 0 1px $gray3;
	}

	&__video-wrap {
		position: relative;
		flex-shrink: 0;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 101px;
			height: 78px;
			background-image: url("../src/img/icon-play.svg");
		}
	}

	&__video-image {
		width: 682px;
		height: 100%;
		object-fit: cover;
	}

	&__about-wrap {
		padding-left: 78px;
		padding-top: 96px;
		padding-right: 56px;
		padding-bottom: 60px;
	}

	&__head {
		position: relative;
		margin-bottom: 36px;

		&:before {
			position: absolute;
			content: "";
			top: -55px;
			left: 0px;
			width: 32px;
			height: 22px;
			background-image: url("../src/img/icon-video.svg");
		}
	}

	&__content {
		margin-bottom: 46px;
	}

	&__title {
		margin: 0;
		font-family: $heading;
		font-weight: 700;
		font-size: 20px;
	}

	&__description {
		margin: 0;
		line-height: 30px;
		color: $gray2;
	}
}