.advantages {
	padding-top: 25px;
	padding-bottom: 40px;

	@media screen and (min-width: 768px) {
		padding-top: 45px;
		padding-bottom: 70px;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 52px;
		padding-bottom: 47px;
	}

	&__head {
		margin-bottom: 35px;

		@media screen and (min-width: 1200px) {
			padding-left: 175px;
			margin-bottom: 49px;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 15px;
		font-family: $heading;
		font-size: 53px;
		font-weight: 700;
	}

	&__content {
		@media screen and (min-width: 1200px) {
			padding-left: 175px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -15px -15px;

		@media screen and (min-width: 768px) {
			margin: -30px -15px;
		}
	}

	&__item {
		margin: 15px 15px;

		@media screen and (min-width: 768px) {
			margin: 30px 15px;
			max-width: 320px;
		}
	}
}