.advantages-list {
	list-style: none;
	margin: 0;
	padding: 0;

	&__description {
		font-size: 17px;
		line-height: 20px;
		font-weight: 700;
		margin: 0;

		@media screen and (min-width: 768px) {
			font-size: 20px;
			line-height: 22px;
		}
	}

	&__svg {
		margin-bottom: 10px;
	}
}