.arrow {
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 0px;
	padding: 20px;

	&.--next {
		&:before {
			content: "";
			display: block;
			background: url("../src/img/icon-right-arrow.svg") no-repeat center;
			width: 50px;
			height: 26px;
		}
	}

	&.--prev {
		&:before {
			content: "";
			display: block;
			background: url("../src/img/icon-left-arrow.svg") no-repeat center;
			width: 50px;
			height: 26px;
		}
	}
}