.button-basket {
	display: block;
	position: relative;
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;
	color: $black;
	
	&:before {
		content: "";
		display: block;
		background: url('../src/img/cart.png') no-repeat;
		width: 18px;
		height: 18px;
	}
}