.button {
	display: block;
	color: $gray2;
	font-family: $primary-font;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	text-transform: uppercase;
	border: 2px solid $gray2;
	padding: 10px 25px;
	cursor: pointer;
}