.button {
	display: block;

	font-size: 17px;
	color: $gray2;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	border: 2px solid $gray2;
	padding: 18px 25px;
	cursor: pointer;
}