.catalog-button {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;

	font-size: 19px;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;

	background-color: $green1;

	@media screen and (min-width: 768px) {
		padding: 35px;
		font-size: 20px;
		line-height: 30px;
	}

	&.--darken {
		background-color: $green2;
	}

	&.--interior::after {
		content: "";
		background-image: url("../src/img/interior.png");
		width: 40px;
		height: 60px;
	}

	&.--kids::after {
		content: "";
		background-image: url("../src/img/toy.png");
		width: 60px;
		height: 60px;
	}
}