.contacts-list {
	margin: 0;

	font-size: 15px;
	line-height: 30px;

	@media screen and (min-width: 768px) {
		font-size: 17px;
	}

	&__wrap {
		display: flex;
		margin-bottom: 30px;
	}

	&__termin {
		width: 25%;
		margin-right: 10px;
		flex-shrink: 0;
	}

	&__description {
		margin: 0px;

		&.--underline {
			text-decoration: underline;
			text-decoration-color: $green1;
		}
	}
}