.copyright {
	font-size: 19px;
	font-weight: 700;

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__description {
		margin: 0;
		margin-right: 10px;
	}

	&__link {
		font-size: 0;
	}

	&__svg {
		fill: $green1;
	}
}
