.field-input-placeholder {
	position: relative;

	&__input {
		min-width: 100%;
		padding: 20px;
		padding-left: 0px;
		border: none;
		border-bottom: 2px solid $black;
		font-size: 17px;
		background: transparent;

		&::placeholder {
			color: rgba($gray2, 0.3);
		}

		@media screen and (min-width: 768px) {
			padding: 14px;
			font-size: 19px;
		}
	}

	&.--phone {
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			background-image: url("../src/img/icon-phone.svg");
			opacity: 0.2;
			width: 25px;
			height: 25px;
		}
	}

	&.--email {
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			background-image: url("../src/img/icon-mail.svg");
			opacity: 0.2;
			width: 32px;
			height: 21px;
		}
	}
}