.form-order {
	fieldset {
		border: none;
		padding: 0;

		&.--gray {
			@media screen and (min-width: 768px) {
				background-color: $gray1;	
			}
		}
	}

	&__fieldset {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		position: relative;
		padding: 15px 0;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			padding: 50px 0;
			padding-left: 167px;
		}

		@media screen and (min-width: 1200px) {
			padding-left: 175px;
		}

		&.--padding_0 {
			padding: 0;
		}

		&.--width_100 {
			width: 100%;
		}

		&.--input_text {
			margin: -10px 0;
		}

		&.--input_text_only-child {
			margin: 10px 0;
		}
	}

	&__label-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		&.--margin-bottom-0 {
			margin-bottom: 0px;
		}

		&::after {
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background-color: $green1;

			@media screen and (min-width: 768px) {
				display: none;
			}
		}
		
		@media screen and (min-width: 768px) {
		margin-bottom: 0;
		position: absolute;
		left: 0px;
		}

		@media screen and (min-width: 1200px) {
		left: 63px;
		}

		&.--only-child {
			@media screen and (min-width: 768px) {
			position: absolute;
			left: -168px;
			}

			@media screen and (min-width: 1200px) {
			left: -110px;
			}
		}
	}

	&__input-wrap {
		&.--flex {
			display: flex;
			flex-wrap: wrap;
		}

		&.--radio {
			margin: -12px 0;
		}

		&.--checkbox {
			margin: -12px -30px;
		}

		&.--input_text {
			flex-grow: 1;
			margin: -15px 0;
		}

		&.--width_100 {
			width: 100%;
		}
	}

	&__item {
		&.--radio {
			margin: 12px 0;
		}

		&.--checkbox {
			margin: 12px 30px;
			width: 220px;
		}

		&.--input_text {
			width: 100%;
			margin: 15px 0;
		}
	}

	&__label {
		margin-right: 10px;

		@media screen and (min-width: 768px) {
			margin-right: 0px;
			width: 62px;
			margin-top: 17px;
		}

		&.--margin_top {
			@media screen and (min-width: 768px) {
				margin-top: 47px;
			}
		}
	}

	&__submit-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__button {
		margin-right: 20px;
	}
}