.logo {
	display: flex;
	align-items: center;
	object-fit: contain;

	&__img {
		display: none;

		&.--desktop {
			@media screen and (min-width: 1200px) {
				display: block;
			}
		}

		&.--tablet {
			@media screen and (min-width: 768px) {
				display: block;
			}
			
			@media screen and (min-width: 1200px) {
				display: none;
			}
		}

		&.--mobile {
			@media screen and (min-width: 320px) {
				display: block;
			}

			@media screen and (min-width: 768px) {
				display: none;
			}
		}
	}
}