.page-header {
	background-color: #ffffff;

	@media screen and (max-width: 767px) {
		padding: 20px 0;
	}

	&__main-area {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (max-width: 767px) {
			justify-content: center;
		}
	}

	&__menu {
		margin: 0 -35px;
		max-width: 445px;
		z-index: 1;

		@media screen and (max-width: 1199px) {
			order: 1;
			max-width: 410px;
			font-size: 15px;
			margin: 0 -30px;
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__shop-button {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -35px;
		max-width: 410px;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__item {
		padding: 35px;

		&.--tablet {
			@media screen and (max-width: 1199px) {
				padding: 20px 0;
				margin: 0 30px;
			}
		}
	}

	&__basket {
		display: flex;

		&:before {
			margin-right: 30px;
		}
	}

	&__sub-menu {
		display: flex;
		flex-wrap: wrap;
		z-index: 1;
		max-width: 48%;
		font-size: 15px;
		margin: 0 -30px;

		@media screen and (max-width: 1199px) {
			display: none;
		}
	}

	&__sub-item {
		padding: 20px 0;
		margin: 0 30px;
	}

	&__triggers {
		display: flex;
		flex-wrap: wrap;
		z-index: 1;
		max-width: 48%;
		font-size: 15px;
		margin: 0 -30px;

		@media screen and (max-width: 1199px) {
			order: 2;
			max-width: 335px;
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__triggers-item {
		margin: 0 30px;
		padding: 20px 0;
	}
}