.slider {
	position: relative;
	background-color: $gray1;
	background-image: url("../src/images/hero-desktop.png");
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 152px;
	padding-bottom: 213px;

	&--inner-page {
		padding-top: 92px;
		padding-bottom: 115px;
		background-image: none;
	}

	&__content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		min-height: 400px;

		&--inner-page {
			min-height: 0;
		}
	}

	&__title {
		display: block;
		padding: 0px 40px;
		margin: 0;
		width: 700px;
		font-size: 53px;
		font-weight: 700;
		font-family: $heading;
		text-align: center;
	}

	&__button {
		position: absolute;
		display: flex;
		bottom: 0px;
	}

	&:after {
		content: "";
		position: absolute;
		bottom: -4px;
		background-image: url("../src/img/zigzag-fill-desktop.png");
		background-repeat: repeat-x;
		height: 34px;
		width: 100%;
	}
}