.slider {
	padding-top: 68px;
	position: relative;
	margin-top: 0px;

	background-color: $gray1;
	background-image: url("../src/images/hero-desktop.png");
	background-repeat: no-repeat;
	background-position: center;
	border-top: 1px solid $gray3;

	@media screen and (min-width: 768px) {
		margin-top: -57px;
		padding-top: 152px;
	}

	&.--inner-page {
		padding: 104px 0;
		background-image: none;

		@media screen and (min-width: 768px) {
			padding-bottom: 95px;
		}
	}

	&__content {
		display: flex;
		min-height: 417px;
		flex-direction: column;

		&.--inner-page {
			min-height: 0;
		}

		@media screen and (min-width: 768px) {
			min-height: 605px;
		}
	}

	&__offer {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 50px;

		&.--inner-page {
			margin-bottom: 0;
		}
		
		@media screen and (min-width: 768px) {
			margin-bottom: 100px;
		}
	}

	&__title {
		display: block;
		margin: 0;
		margin-bottom: 30px;
		max-width: 45%;
		text-align: center;

		@media screen and (min-width: 768px) {
			max-width: 70%;
		}
	}

	&__buttons-wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		bottom: 0px;
		margin-top: auto;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
	}

	&__button {
		flex-grow: 1;
	}

	&:after {
		content: "";
		display: none;
		position: absolute;
		bottom: -15px;
		background-image: url("../src/img/zigzag-fill-desktop.png");
		background-repeat: repeat-x;
		height: 34px;
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		&:after {
			display: block;
		}
	}
}